<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!-- Dynamic HSF -->
	<bean class="com.taobao.top.traffic.hsf.spring.HsfSpringMapping" init-method="init">
		<property name="serviceInterface" value="com.taobao.top.ats.service.TaskService" />
		<property name="serviceVersion" value="${top.ats.provider.version}" />
		<property name="mappingConfigs">
			<list>
				<value>classpath:/com/taobao/top/ats/config/taobao.topats.result.get.xml</value>
				<value>classpath:/com/taobao/top/ats/config/taobao.topats.task.add.xml</value>
			</list>
		</property>
	</bean>

	<!-- HSF Provider -->
	<bean class="com.taobao.hsf.app.spring.util.HSFSpringProviderBean" init-method="init">
		<property name="serviceInterface" value="com.taobao.top.ats.service.TaskService" />
		<property name="serviceVersion" value="${top.ats.provider.version}" />
		<property name="target" ref="taskServiceImpl" />
	</bean>

	<bean id="taskServiceImpl" class="com.taobao.top.ats.service.TaskServiceImpl">
		<property name="tfsManager" ref="tfsManager" />
		<property name="taskDao" ref="taskDao" />
		<property name="taskManager" ref="taskManager" />
	</bean>

	<bean id="tfsManager" factory-bean="rTfsProxyFactoryBean" factory-method="getProxy" />

	<bean id="rTfsProxyFactoryBean" class="com.taobao.common.tfs.RTfsProxyFactoryBean" init-method="init">
		<property name="target" ref="targetTfsManager" />
		<property name="parallelRegistrar" ref="parallelRegistrar" />
		<property name="tfsName">
			<value>TFS_IMAGE</value>
		</property>
	</bean>

	<bean id="targetTfsManager" class="com.taobao.common.tfs.DefaultTfsManager" init-method="init">
		<property name="nsip">
			<value>${top.ats.tfs.nsip}</value>
		</property>
	</bean>

	<bean id="parallelRegistrar" class="com.taobao.rseries.RSeriesParallelRegistrar" init-method="init">
		<property name="typeList">
			<list>
				<value>R-JDBC</value>
				<value>R-TFS</value>
				<value>R-SEARCH</value>
			</list>
		</property>
		<property name="waitTime" value="5000" />
	</bean>

</beans>