<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	
	<bean id="subscriptionManager" class="com.taobao.top.notify.cache.impl.SubscriptionManagerImpl">
		<property name="samService" ref="samService" />
	</bean>
	<import resource="classpath:tim-rich-client-config-test.xml" />
</beans>